In [1]:
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt
import os
import matplotlib.pyplot as plt
plt.rcParams['font.family'] = 'Malgun Gothic'
import folium

In [10]:
DJ_all = pd.read_excel("수정_대전 물가 데이터.xlsx")

DJ_all

,월,품목,조사기준,가 오 동,관평동,노은2동,덕암동,둔산동,문화동,비래동,...,신탄진동,안영동,오정동,온천1동,온천2동,용 전 동,월평동,전민동,진잠동,회 덕 동
0,2014-10,감귤,100g 정도 10개,9900.0,6900.000000,8000.0,1170.000000,7353.333333,NaN,5000.000000,...,8900.000000,NaN,NaN,8600.0,8450.0,7700.0,6530.0,5750.0,6900.0,8000.000000
1,2014-10,대파,1kg,NaN,1500.000000,1800.0,1320.000000,1523.333333,1780.0,1500.000000,...,1090.000000,1300.0,1500.0,1500.0,1795.0,1780.0,2980.0,1990.0,1550.0,2500.000000
2,2014-10,오징어(냉동),25cm정도1마리,2950.0,1700.000000,1700.0,2000.000000,2448.333333,2650.0,3000.000000,...,2500.000000,2500.0,2500.0,2000.0,2745.0,NaN,1980.0,2500.0,2550.0,2300.000000
3,2014-10,소주,"O2린 360ml, 1병",1080.0,1090.000000,1090.0,1200.000000,1073.333333,1080.0,1150.000000,...,1090.000000,1080.0,1200.0,1080.0,1095.0,1060.0,1045.0,1090.0,1085.0,1100.000000
4,2014-10,고추가루,"국산, 400g",NaN,3200.000000,13600.0,19360.000000,10510.000000,12880.0,21600.000000,...,16720.000000,8560.0,13000.0,2853.0,18450.0,8500.0,6592.0,2800.0,3100.0,10660.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4594,2024-9,화장지,크리넥스 35mⅹ24롤(백색),17950.0,24313.333333,27970.0,25900.000000,30500.000000,5950.0,28000.000000,...,27120.000000,5940.0,26000.0,24250.0,24540.0,16850.0,23480.0,28392.0,23900.0,24900.000000
4595,2024-9,무,통무우 2kg,3480.0,3993.333333,3990.0,3690.000000,2380.000000,3990.0,3500.000000,...,5973.333333,3950.0,4200.0,2490.0,3995.0,3480.0,3480.0,3990.0,3900.0,6258.692629
4596,2024-9,배추,통배추 2kg,7992.0,9160.000000,5990.0,8800.000000,4735.000000,7990.0,8666.666667,...,3000.000000,8720.0,NaN,4990.0,6445.0,7980.0,8980.0,5900.0,7950.0,NaN
4597,2024-9,생닭,"하림, 육계 1마리 1kg",10990.0,8395.000000,10990.0,9848.461857,7730.000000,5990.0,6900.000000,...,13980.000000,7500.0,8000.0,7190.0,7495.0,9980.0,10880.0,19980.0,10990.0,6952.380952
4598,2024-9,쇠고기,한우등심1등급 600g,85800.0,54343.333333,71880.0,48000.000000,39258.000000,13600.0,23880.000000,...,44820.000000,9460.0,NaN,67890.0,68400.0,72710.0,32800.0,71400.0,71880.0,57000.000000

In [11]:
DJ_all.columns

Index(['월', '품목', '조사기준', '가 오 동', '관평동', '노은2동', '덕암동', '둔산동', '문화동', '비래동',
       '석봉,목상동', '송 촌 동', '신성동', '신탄진동', '안영동', '오정동', '온천1동', '온천2동', '용 전 동',
       '월평동', '전민동', '진잠동', '회 덕 동'],
      dtype='object')

In [12]:
DJ_all['품목'].unique()

array(['감귤', '대파', '오징어(냉동)', '소주', '고추가루', '콩', '돼지고기', '깐마늘', '두부', '밤',
       '분유', '달걀', '분말커피', '양파', '우유', '멸치', '식용유', '청주', '사과', '빵', '조기',
       '동태', '콩나물', '배', '라면', '세제', '참기름', '쌀', '김', '설탕', '밀가루', '맥주',
       '화장지', '무', '배추', '생닭', '쇠고기', '기타'], dtype=object)

In [16]:
import pandas as pd

# 데이터 로드
DJ_all = pd.read_excel("수정_대전 물가 데이터.xlsx")

# '조사기준' 컬럼 제거 (필요하면 사용)
if '조사기준' in DJ_all.columns:
    DJ_all = DJ_all.drop(columns=['조사기준'])

# '월' 컬럼을 datetime 형식으로 변환
DJ_all['월'] = pd.to_datetime(DJ_all['월'], format='%Y-%m')

# 기간별 그룹화 설정
time_ranges = {
    "2014-2016": (2014, 2016),
    "2017-2019": (2017, 2019),
    "2020-2022": (2020, 2022),
    "2023-2024": (2023, 2024)
}

# 이상치 제거 함수 (IQR 방식)
def remove_outliers(group):
    # 수치형 데이터만 선택
    numeric_cols = group.select_dtypes(include=['number'])
    
    # IQR 계산
    Q1 = numeric_cols.quantile(0.25)
    Q3 = numeric_cols.quantile(0.75)
    IQR = Q3 - Q1
    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR

    # 이상치 처리
    return group.apply(lambda col: col.where((col >= lower_bound[col.name]) & (col <= upper_bound[col.name])) if col.name in numeric_cols.columns else col)

# 이상치 제거 적용
cleaned_dfs = []

for label, (start_year, end_year) in time_ranges.items():
    # 해당 기간 데이터 필터링
    subset = DJ_all[(DJ_all['월'].dt.year >= start_year) & (DJ_all['월'].dt.year <= end_year)].copy()
    
    # 품목별, 지역별 이상치 제거
    subset = subset.groupby('품목', group_keys=False).apply(remove_outliers)
    
    cleaned_dfs.append(subset)

# 이상치 제거된 데이터 병합
cleaned_DJ_all = pd.concat(cleaned_dfs, ignore_index=True)

# 엑셀 파일로 저장
cleaned_DJ_all.to_excel("대전_물가_IQR_이상치제거.xlsx", index=False)

print("이상치 제거된 데이터가 '대전_물가_IQR_이상치제거.xlsx'로 저장되었습니다.")

C:\Users\user\AppData\Local\Temp\ipykernel_14844\2180459000.py:44: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  subset = subset.groupby('품목', group_keys=False).apply(remove_outliers)
C:\Users\user\AppData\Local\Temp\ipykernel_14844\2180459000.py:44: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  subset = subset.groupby('품목', group_keys=False).apply(remove_outliers)
C:\Users\user\AppData\Local\Temp\ipykernel_14844\2180459000.py:44: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  subset = subset.groupby('품목', group_keys=False).apply(remove_outliers)
C:\Users\user\AppData\Local\Temp\ipykernel_14844\2180459000.py:44: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  subset = subset.groupby('품목', group_keys=False).apply(remove_outliers)

이상치 제거된 데이터가 '대전_물가_IQR_이상치제거.xlsx'로 저장되었습니다.

In [19]:
import pandas as pd

# 데이터 로드
DJ_all = pd.read_excel("수정_대전 물가 데이터.xlsx")

# '조사기준' 컬럼 제거 (필요하면 사용)
if '조사기준' in DJ_all.columns:
    DJ_all = DJ_all.drop(columns=['조사기준'])

# '월' 컬럼을 datetime 형식으로 변환
DJ_all['월'] = pd.to_datetime(DJ_all['월'], format='%Y-%m')

# 원본 데이터 복사 (이상치 제거 전 데이터 보존)
original_DJ_all = DJ_all.copy()

# 기간별 그룹화 설정
time_ranges = {
    "2014-2016": (2014, 2016),
    "2017-2019": (2017, 2019),
    "2020-2022": (2020, 2022),
    "2023-2024": (2023, 2024)
}

# 이상치 제거 함수 (IQR 방식)
def remove_outliers(group):
    # 수치형 데이터만 선택
    numeric_cols = group.select_dtypes(include=['number'])
    
    # IQR 계산
    Q1 = numeric_cols.quantile(0.25)
    Q3 = numeric_cols.quantile(0.75)
    IQR = Q3 - Q1
    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR

    # 이상치 저장
    outlier_mask = (numeric_cols < lower_bound) | (numeric_cols > upper_bound)
    removed_outliers = numeric_cols[outlier_mask].stack().reset_index()
    removed_outliers.columns = ['index', '동', '제거된 값']

    # 이상치 처리
    cleaned_group = group.copy()
    for col in numeric_cols.columns:
        cleaned_group[col] = cleaned_group[col].where((cleaned_group[col] >= lower_bound[col]) & (cleaned_group[col] <= upper_bound[col]))

    return cleaned_group, removed_outliers

# 이상치 제거 적용
cleaned_dfs = []
removed_outliers_list = []

for label, (start_year, end_year) in time_ranges.items():
    # 해당 기간 데이터 필터링
    subset = DJ_all[(DJ_all['월'].dt.year >= start_year) & (DJ_all['월'].dt.year <= end_year)].copy()
    
    # 품목별, 지역별 이상치 제거
    cleaned_subset_list = []
    removed_outliers_list_per_period = []

    for _, group in subset.groupby('품목'):
        cleaned_group, removed_outliers = remove_outliers(group)
        cleaned_subset_list.append(cleaned_group)
        removed_outliers_list_per_period.append(removed_outliers)

    # 정제된 데이터와 제거된 이상치 데이터 합치기
    cleaned_dfs.append(pd.concat(cleaned_subset_list, ignore_index=True))
    removed_outliers_list.append(pd.concat(removed_outliers_list_per_period, ignore_index=True))

# 이상치 제거된 데이터 병합
cleaned_DJ_all = pd.concat(cleaned_dfs, ignore_index=True)
removed_outliers_df = pd.concat(removed_outliers_list, ignore_index=True)

# 이상치 제거 개수 집계
removed_outliers_count = removed_outliers_df.groupby('동')['제거된 값'].count().reset_index()
removed_outliers_count.columns = ['동', '제거된 개수']

# 결과 저장
cleaned_DJ_all.to_excel("대전_물가_IQR_이상치제거.xlsx", index=False)
removed_outliers_df.to_excel("이상치_제거_목록.xlsx", index=False)
removed_outliers_count.to_excel("이상치_제거_개수.xlsx", index=False)

# 결과 출력
print("✅ 이상치 제거된 데이터 저장 완료: '대전_물가_IQR_이상치제거.xlsx'")
print("📄 이상치 제거 개수 저장 완료: '이상치_제거_개수.xlsx'")
print("🗂 이상치 제거 목록 저장 완료: '이상치_제거_목록.xlsx'")
print("\n🔍 [이상치 제거 개수 상위 10개 동]")
print(removed_outliers_count.sort_values(by='제거된 개수', ascending=False).head(10))

print("\n🔍 [이상치 제거 목록 상위 10개]")
print(removed_outliers_df.head(10))

✅ 이상치 제거된 데이터 저장 완료: '대전_물가_IQR_이상치제거.xlsx'
📄 이상치 제거 개수 저장 완료: '이상치_제거_개수.xlsx'
🗂 이상치 제거 목록 저장 완료: '이상치_제거_목록.xlsx'

🔍 [이상치 제거 개수 상위 10개 동]
         동  제거된 개수
16     월평동     361
4      둔산동     357
0    가 오 동     342
6      비래동     340
3      덕암동     336
7   석봉,목상동     313
1      관평동     312
15   용 전 동     310
17     전민동     308
12     오정동     295

🔍 [이상치 제거 목록 상위 10개]
   index     동    제거된 값
0    148   관평동  13800.0
1    222   비래동   3500.0
2    407   오정동   1500.0
3    481   비래동   8900.0
4    481   오정동   5900.0
5    518   비래동   8900.0
6    518   오정동   5900.0
7    518  온천2동  14140.0
8    555  온천2동  14140.0
9    592  온천2동  13070.0

In [21]:
DJ_count = pd.read_excel("이상치_제거_개수.xlsx")
DJ_count

         동  제거된 개수
0    가 오 동     342
1      관평동     312
2     노은2동     249
3      덕암동     336
4      둔산동     357
5      문화동     223
6      비래동     340
7   석봉,목상동     313
8    송 촌 동     262
9      신성동     222
10    신탄진동     241
11     안영동     243
12     오정동     295
13    온천1동     230
14    온천2동     254
15   용 전 동     310
16     월평동     361
17     전민동     308
18     진잠동     230
19   회 덕 동     275

In [22]:
DJ_Delete_list = pd.read_excel("이상치_제거_목록.xlsx")
DJ_Delete_list

      index      동    제거된 값
0       148    관평동  13800.0
1       222    비래동   3500.0
2       407    오정동   1500.0
3       481    비래동   8900.0
4       481    오정동   5900.0
...     ...    ...      ...
5698   4557  송 촌 동     46.8
5699   4557    신성동  35100.0
5700   4594  가 오 동  17950.0
5701   4594   노은2동  27970.0
5702   4594    신성동  35100.0

[5703 rows x 3 columns]

In [24]:
import pandas as pd

# 데이터 로드
DJ_all = pd.read_excel("수정_대전 물가 데이터.xlsx")

# '조사기준' 컬럼 제거 (필요하면 사용)
if '조사기준' in DJ_all.columns:
    DJ_all = DJ_all.drop(columns=['조사기준'])

# '월' 컬럼을 datetime 형식으로 변환
DJ_all['월'] = pd.to_datetime(DJ_all['월'], format='%Y-%m')

# 원본 데이터 복사 (이상치 제거 전 데이터 보존)
original_DJ_all = DJ_all.copy()

# 기간별 그룹화 설정
time_ranges = {
    "2014-2016": (2014, 2016),
    "2017-2019": (2017, 2019),
    "2020-2022": (2020, 2022),
    "2023-2024": (2023, 2024)
}

# 이상치 제거 함수 (IQR 방식)
def remove_outliers(group):
    # 수치형 데이터만 선택
    numeric_cols = group.select_dtypes(include=['number'])
    
    # IQR 계산
    Q1 = numeric_cols.quantile(0.25)
    Q3 = numeric_cols.quantile(0.75)
    IQR = Q3 - Q1
    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR

    # 이상치 저장
    outlier_mask = (numeric_cols < lower_bound) | (numeric_cols > upper_bound)
    removed_outliers = numeric_cols[outlier_mask].stack().reset_index()
    removed_outliers.columns = ['index', '동', '제거된 값']

    # 🔹 '품목'과 '월' 정보를 안전하게 추가
    removed_outliers = removed_outliers.merge(group[['월', '품목']], left_on='index', right_index=True, how='left')

    # 이상치 처리
    cleaned_group = group.copy()
    for col in numeric_cols.columns:
        cleaned_group[col] = cleaned_group[col].where((cleaned_group[col] >= lower_bound[col]) & (cleaned_group[col] <= upper_bound[col]))

    return cleaned_group, removed_outliers

# 이상치 제거 적용
cleaned_dfs = []
removed_outliers_list = []

for label, (start_year, end_year) in time_ranges.items():
    # 해당 기간 데이터 필터링
    subset = DJ_all[(DJ_all['월'].dt.year >= start_year) & (DJ_all['월'].dt.year <= end_year)].copy()
    
    # 품목별, 지역별 이상치 제거
    cleaned_subset_list = []
    removed_outliers_list_per_period = []

    for _, group in subset.groupby('품목'):
        cleaned_group, removed_outliers = remove_outliers(group)
        cleaned_subset_list.append(cleaned_group)
        removed_outliers_list_per_period.append(removed_outliers)

    # 정제된 데이터와 제거된 이상치 데이터 합치기
    cleaned_dfs.append(pd.concat(cleaned_subset_list, ignore_index=True))
    removed_outliers_list.append(pd.concat(removed_outliers_list_per_period, ignore_index=True))

# 이상치 제거된 데이터 병합
cleaned_DJ_all = pd.concat(cleaned_dfs, ignore_index=True)
removed_outliers_df = pd.concat(removed_outliers_list, ignore_index=True)

# ✅ 동별 & 품목별 제거된 이상치 개수 집계
removed_outliers_summary = removed_outliers_df.groupby(['동', '품목'])['제거된 값'].count().reset_index()
removed_outliers_summary.columns = ['동', '품목', '제거된 개수']

# ✅ 이상치 제거 개수 집계 (동별)
removed_outliers_count = removed_outliers_df.groupby('동')['제거된 값'].count().reset_index()
removed_outliers_count.columns = ['동', '제거된 개수']

# ✅ 이상치 제거된 상세 목록 저장
removed_outliers_detail = removed_outliers_df[['월', '동', '품목', '제거된 값']]

# 결과 저장
cleaned_DJ_all.to_excel("대전_물가_IQR_이상치제거.xlsx", index=False)
removed_outliers_df.to_excel("이상치_제거_목록.xlsx", index=False)
removed_outliers_count.to_excel("이상치_제거_개수.xlsx", index=False)
removed_outliers_summary.to_excel("이상치_제거_요약.xlsx", index=False)
removed_outliers_detail.to_excel("이상치_제거_상세목록.xlsx", index=False)

# 결과 출력
print("✅ 이상치 제거된 데이터 저장 완료: '대전_물가_IQR_이상치제거.xlsx'")
print("📄 이상치 제거 개수 저장 완료: '이상치_제거_개수.xlsx'")
print("📊 동별 & 품목별 이상치 개수 저장 완료: '이상치_제거_요약.xlsx'")
print("🗂 이상치 제거 목록 저장 완료: '이상치_제거_목록.xlsx'")
print("📅 이상치 제거된 월 포함한 목록 저장 완료: '이상치_제거_상세목록.xlsx'")

print("\n🔍 [동별 & 품목별 이상치 제거 개수 상위 10개]")
print(removed_outliers_summary.sort_values(by='제거된 개수', ascending=False).head(10))

print("\n📅 [이상치 제거된 월 정보 상위 10개]")
print(removed_outliers_detail.head(10))

✅ 이상치 제거된 데이터 저장 완료: '대전_물가_IQR_이상치제거.xlsx'
📄 이상치 제거 개수 저장 완료: '이상치_제거_개수.xlsx'
📊 동별 & 품목별 이상치 개수 저장 완료: '이상치_제거_요약.xlsx'
🗂 이상치 제거 목록 저장 완료: '이상치_제거_목록.xlsx'
📅 이상치 제거된 월 포함한 목록 저장 완료: '이상치_제거_상세목록.xlsx'

🔍 [동별 & 품목별 이상치 제거 개수 상위 10개]
         동   품목  제거된 개수
658    진잠동  식용유      33
629    전민동   조기      30
478   온천1동   세제      29
531  용 전 동   달걀      29
6    가 오 동   동태      29
151    둔산동   두부      28
120    덕암동  밀가루      28
609    전민동   멸치      28
31   가 오 동  참기름      27
161    둔산동   분유      27

📅 [이상치 제거된 월 정보 상위 10개]
           월     동  품목    제거된 값
0 2014-08-01   관평동  감귤  13800.0
1 2015-10-01   비래동  감귤   3500.0
2 2015-03-01   오정동  감귤   1500.0
3 2015-05-01   비래동  감귤   8900.0
4 2015-05-01   오정동  감귤   5900.0
5 2015-06-01   비래동  감귤   8900.0
6 2015-06-01   오정동  감귤   5900.0
7 2015-06-01  온천2동  감귤  14140.0
8 2015-07-01  온천2동  감귤  14140.0
9 2015-08-01  온천2동  감귤  13070.0

In [25]:
DJ_Delete_list_2 = pd.read_excel("이상치_제거_상세목록.xlsx")
DJ_Delete_list_2

              월      동   품목    제거된 값
0    2014-08-01    관평동   감귤  13800.0
1    2015-10-01    비래동   감귤   3500.0
2    2015-03-01    오정동   감귤   1500.0
3    2015-05-01    비래동   감귤   8900.0
4    2015-05-01    오정동   감귤   5900.0
...         ...    ...  ...      ...
5698 2024-08-01  송 촌 동  화장지     46.8
5699 2024-08-01    신성동  화장지  35100.0
5700 2024-09-01  가 오 동  화장지  17950.0
5701 2024-09-01   노은2동  화장지  27970.0
5702 2024-09-01    신성동  화장지  35100.0

[5703 rows x 4 columns]